/* src/components/ResetPassword.css */
.reset_password_wrapper{
    display: flex;
    height: 100vh;
    align-items: center;
}
.reset-password-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .reset-password-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .reset-password-form {
    display: flex;
    flex-direction: column;
  }
  
  .reset-password-input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .reset-password-button {
    padding: 12px;
    font-size: 16px;
    background-color: #8B48D6; /* Updated color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .reset-password-button:hover {
    background-color: #9766cf; /* Updated hover color */
  }