.signup-main {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #9a72c8;
}
.signup input {
  border: none;
  outline-width: 0;
  background-color: transparent;
  font-size: 14px;
  color: black;
  font-weight: 400;
}
.signupContent {
  width: 100%;
  display: flex;
  margin: 40px;
  justify-content: space-between;
}

.signupContent1 {
  display: flex;
  width: 40%;
  flex-direction: column;
  height: 100%;
  background-color: white;
  align-items: center;
  border-radius: 30px;
  position: relative;
}

.signup {
  position: absolute;
  top: 100px;
  width: 65%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.signup-text {
  font-size: 35px;
  font-weight: 600;
}
.name,
.email,
.create-password {
  color: #9d9d9a;
}
.signup_btn {
  width: 100%;
  background-color: #8b48d6 !important;
  transition: background-color 0.3s ease;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  color: white;
}
.input_svg {
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid #8f8f8d;
  padding-bottom: 5px;
}
.input_svg .password_show {
  cursor: pointer;
}

.input_svg img {
  width: 18px;
}
.terms_privacy_policy {
  color: #b2b2af;
  position: absolute;
  bottom: 30px;
  font-size: small;
}
.input_svg {
  margin-top: 10px;
}
.signup_content2 {
  width: 40%;
  position: relative;
}
.watch_demo {
  background-color: #8b48d6;
  color: black;
  width: fit-content;
  transition: background-color 0.3s ease;
  height: fit-content;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-weight: semi-bold;
  cursor: pointer;
  color: white;
  padding: 15px;
}

.watch_demo:hover {
  background-color: #a156f7;
}

.domain_name {
  position: absolute;
  right: 0;
  color: white;
  font-size: 14px;
}
.signupcontentchild {
  position: absolute;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: white;
  width: 70%;
  left: 50px;
}
.signupcontentchild h1 {
  font-weight: 400;
  font-size: 40px;
  line-height: 45px;
}
.signup_btn:hover {
  background-color: #a156f7 !important;
}

.input_svg input {
  width: 80%;
}

.welcome_text,
.newUser_text {
  font-weight: 600;
}

span a {
  color: red;
  text-decoration: none;
}
.login_text {
  font-weight: 500;
}
.remember_forgot_password {
  display: flex;
  justify-content: space-between;
}

.forgot_password {
  display: flex;
  align-items: end;
  cursor: pointer;
}
.checkbox_text {
  display: flex;
  gap: 10px;
}
.checkbox_text p {
  color: #7b7b79;
}
.logo_and_name {
  display: flex;
  align-items: center;
  gap: 15px;
}
.playbutton {
  width: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.error {
  color: red;
}

@media only screen and (max-width: 1400px) {
  .signupContent {
    margin: 20px;
  }
  .signupContent1 {
    width: 100%;
  }
  .signup_content2 {
    width: 100%;
  }
}

@media only screen and (max-width: 725px) {
  .signupContent {
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: 130vh;
  }
  .signup-main {
    background-color: #5b5f97;
    height: 100%;
  }
  .signupContent1 {
    width: 100%;
    height: 90vh;
  }
  .signup_content2 {
    height: 40vh;
    width: 100%;
  }
  .signup_content2,
  .domain_name,
  .signupcontentchild {
    position: static;
  }
}
